$primary: #004c3f;
$menu-item-active-background-color: $primary;

@import "~bulma-scss/bulma";
body {
    @apply bg-gray-200;
    min-height: 100vh;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
